@model WebBanPhuKienDienThoai.Models.DeviceType

<div class="container mt-4">
    <h2 class="mb-3">Cập nhật thiết bị</h2>
    <form asp-action="Update" method="post" class="shadow p-4 bg-light rounded">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <label for="Name" class="form-label">Tên thiết bị</label>
            <input asp-for="Name" class="form-control" required />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>