@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Thanh toán bị hủy!</h2>
<p>Bạn đã hủy thanh toán qua PayPal. Vui lòng thử lại hoặc chọn phương thức khác.</p>
<a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-warning">Quay lại thanh toán</a>